body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #3882f6;
    font-size: 16px;
    color: white;
    border-color: white;
    border-radius: 7px;
    height: 30px;
    width: 100px;
}

figcaption {
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 24px;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

footer {
    bottom: 0;
    /* left: 0;
    right: 0; */
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    margin-left: 0px;
    margin-right: 0px;
    height: 500px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb; 
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.section-one {
    display: flex;
    justify-content: center;
    background: #1f2937;
    color: #f9faf8;
    padding: 10px;
    gap: 100px;
    padding-bottom: 50px;
}

.one-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}

.one-right {
    display: flex;
    background-color: gray;
    color: white;
    padding: 10px;
    width: 30%%;
    text-align: center;
    vertical-align: center;
}

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-text {
    font-size: 48px;
}

.information-header {
    display: flex;
    font-size: 36px;
    font-weight: bold;
}

.containers {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.info-button {
    height: 200px;
    width: 200px;
    color: white;
    border-color: #3882f6;
    border-radius: 10px;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.thor-caption {
    display: flex;
    justify-content: right;
    width: 940px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    width: 1000px;
    flex-direction: row;
    height: 200px;
    padding: 10px;
    vertical-align: center;
}

.action1 {
    font-weight: bold;
    font-size: 16px;
}

.bottom-right {
    display: flex;
    justify-content: center;
}

.footer-button {
    display: flex;
    justify-content: center;
    height: 25px;
    color: white;
    background-color: #3882f6;
    border-color: whtie;
}